body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    margin-bottom: 150px;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
}

footer {
    background-color: #f8f9fa;
    padding: 1.5rem 0;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.footer-links a {
    margin: 0 10px;
}

.container {
    flex: 1;
}

.mt-250 {
    margin-top: 200px;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #ffcc00 !important;
}


@media (min-width: 992px) {
    .navbar .container-fluid {
        display: flex;
        justify-content: space-between;
    }

    .navbar-collapse {
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }

    .navbar-nav {
        margin-left: 0;
    }

    .navbar-nav .nav-item {
        margin-right: 2rem;
    }
}
